@media screen and (max-width: 767px) {
    :root {
        --cor-menu: #ffffff;
        --cor-fundo: #F5F7F8;
        --cor0: #FFF9ED;
        --cor1: #4c7a39;
        --cor2: #619a3d;
        --cor3: #087507;
        --fonte: 'Montserrat', sans-serif;
    }

    .hamburger {
        display: flex;
    }

    .menu-list {
        display: none;
        flex-direction: column;
        background-color: var(--cor1);
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        z-index: 2;
    }

    .menu-list.active {
        display: flex;
    }

    .menu-list li {
        text-align: center;
        margin: 15px 0;
    }

    .menu-list a {
        padding: 10px;
    }

    .bar.active:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .bar.active:nth-child(2) {
        opacity: 0;
    }

    .bar.active:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .menu-hidden {
        z-index: 2;
    }
    .menu-list.active .menu-hidden {
        z-index: -1; 
    }

    #imagem-inicio {
        background-position: center;
    }

    #container-inicio > p {
        left: 110px;
        font-size: 20px;
    }

    #container-inicio > h1 {
        left: 110px;
        top: 60px;
    }

    #dispositivo-container {
        width: 100%;
        height: 80vh;
        position: relative;
        text-align: center;
      }
      
      #dispositivo-container > h2 {
        width: 400px;
        text-align: justify;
        max-width: 100%;
        margin: 0;
        font-size: 22px; 
        position: absolute;
        top: 40%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
        padding-bottom: 8vh;
      }
      
      #dispositivo-container > p {
        width: 350px;
        text-align: justify;
        max-width: 100%;
        margin: 0;
        font-size: 16px; 
        position: absolute;
        top: 60%; 
        left: 50%; 
        transform: translate(-50%, -50%); 
      }
      
    picture {
        display: none;
    }

    #bloco-amarelo {
        display: none;
    }

    .caixas-ecossistema {
        display: none;
    }

    #texto-ecossistema {
        display: none;
    }

    #container-elements-especial > h2 {
        display: none; /*AQUI PARA INSERIR O TITULO NOVAMENTE*/
    }
}