@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
}

:root {
    --cor-menu: #ffffff;
    --cor-fundo: #F5F7F8;
    --cor0: #FFF9ED;
    --cor1: #4c7a39;
    --cor2: #619a3d;
    --cor3: #087507;
    --fonte: 'Montserrat', sans-serif;
}

html, body {
    overflow-x: hidden;
    font-family: var(--fonte);
}

nav {
    width: 100vw;
    height: 70px;
    background-color: var(--cor1);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 30vw;
    /*Use gap caso queira jogar mais para direita o elemento*/
}

.hamburger {
    display: none;
    margin-bottom: 20px; 
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--cor-menu);
    margin: 3px 0;
    transition: 0.4s;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

#logo {
    background-image: url("/conteúdo/Imagens/Verde%20e%20Laranja%20Minimalista%20Agricultura%20Logo/4.png");
    background-size: cover;
    width: 150px;
    height: 114px;
    position: relative;
    top: 4px;
    right: 50px;
}


nav a {
    text-decoration: none;
    margin: 1.5vw;
    padding-right: 13px;
    padding-left: 13px;
    color: var(--cor-menu);
    position: relative;
    top: -15px;
}

.menu-list a:hover:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--cor0); 
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.25s;
    z-index: 1;
  }
  
  .menu-list a:hover:before {
    transform: scaleX(1);
  }
  
  .menu-list a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px; 
    background-color: var(--cor0); 
    bottom: -5px;
    left: 0;
    transform: scaleX(0); 
    transform-origin: 0 50%; 
    transition: transform 0.25s;
    z-index: 1;
  }  

nav > ul > li {
    display: inline-block;
    position: relative;
    top: -10px;
}

main {
    width: 100vw;
    height: 100%;
}

#container-inicio {
    color: var(--cor3);
    position: relative;
}

#imagem-inicio {
    width: 100%;
    height: 900px;
    z-index: 1;
    background-image: url("/conteúdo/Imagens/imagem-inicial2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
}

#container-inicio > p {
    color: var(--cor3);
    position: absolute;
    top: 110px; 
    left: 1210px;
    transform: translate(0, -50%); 
    z-index: 2; 
}

#container-inicio > h1 {
    color: var(--cor3);
    position: absolute;
    top: 80px; 
    left: 1210px;
    transform: translate(0, -50%); 
    z-index: 2; 
}

.container-elements {
    width: 100vw;
    height: 80vh;
    display: flex;
}

#dispositivo-container, picture {
    height: 100%;
    width: 50vw;
}

#dispositivo-container > h2{
    position: relative;
    color: var(--cor1);
    top: 210px;
    left: 270px;
}

#dispositivo-container > p {
    max-width: 500px;
    text-align: justify;
    font-size: 18px;
    margin: 27px 0px 10px;
    position: relative;
    top: 230px;
    left: 279px;
}

picture > img {
    position: relative;
    top: 170px;
    left: 80px;
    width: 500px;
    height: 300px;
}

#container-elements-especial {
    width: 1903px;
    height: 816px;
    background-color: #006843;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
}

#bloco-amarelo {
    width: 700px;
    min-height: unset;
    padding-bottom: 250px;
    border: 2px solid #FDB034;
    border-top-left-radius: 110px;
    border-bottom-right-radius: 110px;
    z-index: 2;
    position: relative;
    top: -220px;
    right: 140px;
}

.caixas-ecossistema {
    width: 481px;
    height: 554px;
    border-radius: 10px;
    margin-bottom: 20px;
    position: relative;
    right: 250px;
    bottom: 660px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    padding: 10px;
    z-index: 3;
}

#icon1 {
    font-size: 30px;
    position: relative;
    top: 21px;
    left: 90px;
    color: var(--cor3);
}

#icon2 {
    font-size: 30px;
    position: relative;
    top: 21px;
    left: 40px;
    color: var(--cor3);
}

#icon3 {
    font-size: 38px;
    position: relative;
    top: 21px;
    left: 40px;
    color: var(--cor3);
}

#titulo01 > h3 {
    position: relative;
    left: 150px;
    top: -10px;
}

#titulo02 > h3 {
    position: relative;
    left: 100px;
    top: -10px;
}

#titulo03 > h3 {
    position: relative;
    left: 130px;
    top: -11px;
}

.caixas-ecossistema > p {
    font-size: 18px;
    padding: 10px;
    text-align: justify;
}

#container-elements-especial > h2 {
    width: 600px;
    align-self: flex-start;
    position: relative;
    top: 160px;
    left: 300px;
    color: var(--cor0);
    text-align: center;
}

#texto-ecossistema {
    align-self: flex-start;
    position: relative;
    top: 190px;
    left: 300px;
    width: 600px;
    height: 500px;
    color: black;
    background-color: white;
    border-radius: 10px;

}

#texto-ecossistema > p {
    font-size: 22px;
    padding: 10px;
    text-align: justify;
}

#container-GrenCrops-ajuda {
    width: 100vw;
    height: 60vh;
    margin-top: 40px;
    background-color: var(--cor-fundo);
    position: relative;
}

#container-GrenCrops-ajuda > h2 {
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container-itens {
    width: 55vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

.itens {
    width: 300px;
    height: 125px;
    background-color: white;
    margin-top: 10vh;
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.233);
    display: flex;
}

.itens > .material-icons, .itens > .material-symbols-outlined {
    width: 50%;
    height: 100%;
    font-size: 5vh;
    display: flex; 
    text-align: center; 
    align-items: center;
    justify-content: center;
    color: #087507;
}

.itens > p {
    width: 50%;
    height: 100%;
    text-align: center; 
    display: flex; 
    align-items: center;
    padding-right: 7.3px;
}

#container-economia {
    width: 100%;
    height: 100%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
}

#conteudo-economia {
width: 50vw; 
height: 80%; 
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: justify;
}
  
#conteudo-economia h2 {
    margin: 0;
}

#conteudo-economia p {
    max-width: 600px;
    padding: 10px;
}
  
#imagem-economia {
width: 50vw;
height: 80%;
display: flex;
justify-content: center;
align-items: center;
}
  
#imagem-economia img {
width: 500px;
height: 300px;
display: block;
margin-right: 25vw;
}

/* Estilo para o footer */
footer {
    background-color: #F5F7F8;
    padding: 30px 0;
    color: var(--cor3);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer div {
    width: 30%;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}

footer h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--cor1);
}

footer ul {
    padding: 0;
}

footer a {
    text-decoration: none;
    color: var(--cor2);
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s;
}

footer a:hover {
    color: var(--cor1);
}

footer a.external-link {
    color: var(--cor3);
    font-weight: bold;
}

footer li a {
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

footer li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--cor0);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.25s;
    z-index: 1;
}

footer li a:hover:before {
    transform: scaleX(1);
}

#projeto-github a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    background: linear-gradient(45deg, #3CA851, #087507, #3CA851, #087507);
    background-size: 400% 200%;
    transition: 1.5s cubic-bezier(0.5, 0.1, 0.4, 0.9);
    color: #FFF;
    position: relative;
    overflow: hidden;
}

#projeto-github a:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    animation: brilho 3.5s ease-in infinite;
}

@keyframes brilho {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}
